@{
    ViewData["Title"] = "Home Page";
}

<header class="py-5 bg-image-full" style="background-image: url('https://wallpapercave.com/wp/wp2303645.jpg') ">
    <div class="text-center my-5">
        <img class="img-fluid" style="width: 20%; opacity:50%" src="~/logo.png" alt="..." />

        <div style="background-color:rgba(0,0,0,.75)">
            <h1 class="display-3 text-white fs-3 fw-bolder" style="opacity:100%">Welcome to the Portal of Rocket Elevators</h1>
            <p class="display-4 text-white fs-3 fw-bolder">The portal made for <strong>YOU!</strong></p>
        </div>
    </div>
</header>