@{
    ViewData["Title"] = "Intervention Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your HOME my beloved Customers</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@for(int i = 0; i > 4; i++)
{
    <p>
            Hello@i
    </p>
    
}